.sakuraos-prop-1-icon {
  position: absolute;
  top: 687px;
  left: 669px;
  width: 389px;
  height: 832px;
  object-fit: cover;
}
.sakura {
  background: linear-gradient(93.28deg, #d99de2, #f442d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sakuraos {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  display: inline-block;
  width: 1011px;
  height: 128px;
  text-shadow: 0 4px 22px rgba(0, 0, 0, 0.25);
}
.flows-like-petals {
  position: absolute;
  top: 138px;
  left: 433px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-white);
}
.sakuraos-parent {
  position: absolute;
  top: 322px;
  left: 358px;
  width: 1011px;
  height: 162px;
}
.download {
  position: relative;
}
.download-wrapper {
  position: absolute;
  top: 554px;
  left: 783px;
  border-radius: 41px;
  background-color: #d16391;
  width: 161px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.img-5596-2-1 {
  position: relative;
  width: 172px;
  height: 78px;
  object-fit: cover;
}
.frame {
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: 50px;
  background-color: #000;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.67);
  width: 1693px;
  height: 89px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linear-arrows-action-downl,
.linear-map-location-peop {
  position: absolute;
  top: 49px;
  left: 1643px;
  width: 44px;
  height: 50px;
  cursor: pointer;
}
.linear-map-location-peop {
  left: 1564px;
}
.index1 {
  position: relative;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  background-image: url(./public/index@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 128px;
  color: #f44dd5;
  font-family: var(--font-urbanist);
}
@media screen and (max-width: 1200px) {
  .sakuraos-parent {
    width: 1111px;
  }
  .frame {
    display: flex;
    width: 1200px;
    height: 89px;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .flows-like-petals,
  .sakuraos {
    text-align: center;
  }
  .download-wrapper {
    align-items: center;
    justify-content: center;
  }
}
